<?xml version='1.0' encoding='utf-8'?>
<widget id="de.fiveminds.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloWorld</name>
    <description>
    	Eine einfache Beispiel-Anwendung
    </description>
    <author email="info@5minds.de" href="http://www.5Minds.de">
        5Minds-Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
